.container {
  height: 100%;
  background: url(../../../assets/background.jpg) no-repeat center fixed;
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  .card{
    color: darkblue;
    background: bisque;
    max-width: 800px;
  }

  .content > * {
    display: block;
    margin: 10px;
  }

}
